/.idea/codeStyles/codeStyleConfig.xml
/.idea/description.html
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/project-template.xml
/test.iml
/.idea/vcs.xml
/.idea/workspace.xml
